body {font-weight: normal; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #000000; }
input {font-weight: normal; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #000000; }
select {font-weight: normal; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #000000; }
textarea {font-weight: normal; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #000000; }
.tblrowhdr {font-weight: bold; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; background-color: #cccccc; color: #000000; }
.rowbody {font-weight: normal; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; background-color: #cfd9f5; color: #000000; }
.navActive {font-weight: bold; text-transform: uppercase; text-decoration: none; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; background-image: url(/Core/Common/CESGraphics/CESGraphic.aspx?colmode=100&w=5&h=20&s=0&r=0&b=0&mb0=1876c9&mb1=0d5392); color: #FFFFFF; position: relative;}
.navActive_text {font-weight: bold; text-transform: uppercase; text-decoration: underline; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #FFFFFF; }
.navActiveLeftCorner { BACKGROUND-REPEAT: no-repeat; position: relative; left: 0; top: 0; width: 5px; height: 5px; }
.navActiveRightCorner { BACKGROUND-REPEAT: no-repeat; position: relative;right: 0; top: 0; width: 5px; height: 5px; }
.navInactive {font-weight: bold; text-transform: uppercase; text-decoration: none; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; background-image: url(/Core/Common/CESGraphics/CESGraphic.aspx?colmode=100&w=5&h=20&s=0&r=0&b=0&mb0=003366&mb1=004684&dg=true); color: #FFFFFF; }
.navInactive_text {font-weight: bold; text-transform: uppercase; text-decoration: none; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #FFFFFF; }
.navInactiveNoLine { text-transform: uppercase; text-decoration: none;font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #FFFFFF; }
.navInactiveLeftCorner { BACKGROUND-REPEAT: no-repeat; float: left; margin-top: -5px; width: 5px; height: 5px; }
.navInactiveRightCorner { BACKGROUND-REPEAT: no-repeat; position: static; margin-top: -5px; width: 5px; height: 5px; }
.navsub {font-weight: normal;  font-size: 10px; clear:both;margin:0;padding:2px 2px 2px 1px;font-family: arial, arial, verdana, trebuchet ms, sans-serif; background-color: #0d5392; color: #FFFFFF; }
.navsub_text {font-weight: normal;  font-size: 10px; font-family: arial, arial, verdana, trebuchet ms, sans-serif; color: #FFFFFF; }
.brdcrm {font-weight: normal;  font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #0D5392; }
.brdcrmhdr {font-weight: bold; font-size: 18px; font-family: arial, arial, verdana, trebuchet ms, sans-serif; color: #666666; }
a {font-weight: bold; color: #0D5392; }
.link {font-weight: bold; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #0D5392; }
.catlink {font-weight: bold; font-size: 13px; font-family: arial, arial, verdana, trebuchet ms, sans-serif; color: #0D5392; }
.catlinknormal {font-weight: normal; font-size: 13px; font-family: arial, arial, verdana, trebuchet ms, sans-serif; color: #0D5392; }
.catlinkblack {font-weight: bold; font-size: 13px; font-family: arial, arial, verdana, trebuchet ms, sans-serif; color: #000000; }
.catlinknormalblack {font-weight: normal; font-size: 13px; font-family: arial, arial, verdana, trebuchet ms, sans-serif; color: #000000; }
.body {font-weight: normal; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #000000; }
.bodybgcolor { background-color:#FFFFFF; }
.bodybold {font-weight: bold; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #000000; }
.bodyplus {font-weight: bold; font-size: 12px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #000000; }
.bodyboldplus {font-weight: bold; font-size: 14px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #000000; }
.bodyminus {font-weight: normal; font-size: 8px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #000000; }
.bodyboldminus {font-weight: bold; font-size: 8px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #000000; }
.bodyinactive {font-weight: normal; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #999999; }
.searchhelp {font-weight: bold; font-size: 10px; font-family: arial, arial, verdana, trebuchet ms, sans-serif; color: #333399; }
table {font-weight: normal; color: #000000; }
.header1bgbottom1 { background-color: #ffffff; }
.header1bg {font-weight: bold; background-color: #ffffff; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: ?colmode=100&w=5&h=20&s=0&r=0&b=0&mb0=003366&mb1=004684&dg=true; }
.stepheader {font-weight: bold; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #000000; }
.steptable {font-weight: bold; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #000000; background-color: #ffffff; }
.stepselected {font-weight: bold; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #000000; background-color: #cfd9f5; text-transform: uppercase; }
.stepunselected {font-weight: bold; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #000000; background-color: #cccccc; }
.inactiverollover { background-image: url(/Core/Common/CESGraphics/CESGraphic.aspx?colmode=100&w=5&h=20&s=0&r=0&b=0&mb0=0d5392&mb1=1876c9&dg=true); text-transform: uppercase; text-decoration: none; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #FFFFFF; position: relative; }
.inactiverollover_text { text-transform: uppercase; text-decoration: none; font-size: 10px; font-family: verdana, arial, verdana, trebuchet ms, sans-serif; color: #FFFFFF; }

.CsLinkButton {
	border: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
	font-family: verdana, arial, verdana, trebuchet ms, sans-serif;
	color: #0D5392;
}

.CsLinkButton img {
	text-decoration: none;
	border: none;
	vertical-align: middle;
}
.CsLinkButton:hover span.text {
text-decoration: underline;
}
